@font-face {
  font-family: "Cascadia Code";
  src: url(/fonts/CascadiaCode.woff2);
}

.figure-border {
  padding: 15px 15px 0;
  margin-bottom: 20px;
  background-color: var(--entry);
  box-shadow: 0 1px 3px var(--hljs-bg);
  -moz-box-shadow: 0 1px 3px var(--hljs-bg);
  -webkit-box-shadow: 0 1px 3px var(--hljs-bg);
}

.img-center {
  display: block;
  margin: 0.7rem auto;
}

.img-caption {
  text-align: center;
  font-style: italic;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Cascadia Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
}
